* {
margin : 0;
padding : 0;
box-sizing: border-box;
font-family: 'helvetica neue';
}
html , body,#root
{
height : 100%;
width : 100%;
}

main{
    height : 100%;
    width : 100%;
    padding-top: 2.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../public/wallpaper.jpg);
    background-position: center;
}

body{
    background-color: black;
    color: white;
}

